*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 100%;
    background-position: center;
    background-image: url(imagens/bg2.jpg);
    animation: animacaoBack 3s infinite;
    position: relative;
    top:0;
    left:0;
}
@keyFrames animacaoBack{
    0%{
       top:0px;
    }
    50%{
       top: 20px;
    }
    100%{
       top: 0px;
    }
}
header{
    text-align: center;
    padding: 20px 3%;
}
header h1{
    color: white;
    border-bottom: 3px solid white;
    padding-bottom: 20px;
    font-size: 40px;
    cursor: pointer;
}
.box-pesquisar{
    padding: 0;
    display: flex;
    justify-content: start;
    position: relative;
}
.pesquisar{
    padding: 0 7%;
}
label{
    display: block;
    color: #ffff;
    font-size: 20px;
    text-align: left;
}
input{
    height: 40px;
    padding: 10px 10px;
    padding-left: 10px;
    width: 100%;
    border-radius: 9px;
    border: none;
    margin-top: 10px;
    outline: none;
    color: black;
}

section {
    margin-top: 10px;
    text-align: center;
    padding: 20px 2%;
}
.box-pokemon{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0 5%;
}
.box-pokemon-single{
    background-color: #274e76;
    border-radius: 12px;
    border: 4px solid #3a5b81;
    padding: 10px;
    animation: seMexer 3s infinite;
    position: relative;
    top: 0;
    left: 0;
}
.box-pokemon-single img{
    min-width: 190px;
    border-bottom: 4px solid #78c9f0;
    background-image: linear-gradient(#19242c, #637a8a);
    border-radius: 50%;
}

@keyframes seMexer{
    0%{
        top: 0;
    }
    50%{
        top: 5px;
    }
    100%{
        top: 0;
    }
}


.box-pokemon-single h1{
    padding-top: 10px;
    margin-top: 10px;
    border-top: 4px solid #78c9f0;
    color: #ffff;
}
footer{
    text-align: center;
    padding: 7px 2%;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #274e76;
}
footer a{
    color: #d6d6d6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer a:hover{
    color: #ffff;
}
footer span{
    color: #ffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (max-width: 768px){
    .box-pesquisar{
        justify-content: center;
    }
    .box-pokemon{
        justify-content: space-around;
        gap: 30px;
        padding: 0 1%;
    }
    .box-pokemon-single img{
        min-width: 130px;
    }
    .box-pokemon-single{
        width: 40%;
    }
    input{
        font-size: 20px;
    }
    input::placeholder{
        font-size: 16px;
    }
}